---
import Layout from '../layouts/Layout.astro';
import { Matrix } from '../components/ui/matrix';
---
<Layout>
	<main id="hero-section" class="bg-black text-white overflow-hidden">
		<Matrix client:load />
	</main>
</Layout>